@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
	background-color: #0071b3;
}

/* CSS Reset and Typography */
*{
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-align: center;
	color: white;
}

header{
	padding: 15px;
	font-weight: 700;
	background: #8888;
	margin-bottom: 30vh;
	display: flex;
	width: auto;
	justify-content: center;
}

.link-box{
	margin: auto;
}

.welcome-sign{
	font-size: 40px;
	margin-left: 15vw;
	margin-right: 15vw;

}

.main{
	margin: auto;
	width: 25%;
	padding: 50px;
	background: #8888;
	border-radius: 15px;
}

footer{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100vw;
	height: 40px;
	background: #8888;
	padding: 10px;
}


@media screen and (max-width: 1000px) {
	/* styles to apply if screen size is less than 1000px */
	.main{
		width: 80%;
	}

	.welcome-sign{
		margin-left: 5vw;
		margin-right: 5vw;
	}
  }