@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* CSS Reset and Typography */
*{
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}