@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

*{
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #062d1d;
  color: white;
  text-decoration: none;
  overflow: hidden;
  font-family: "Raleway",sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
}

.welcome{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;
  top: 35%;
}

.welcome-header{
  padding: 15px;
  margin-bottom: 100px;
}

header{
  width: 100%;
  height: 100%;
}

.top-nav{
  width: 100%;
  height: 8%;
  background: #083f28;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top-nav .title{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 35px;
  font-family: "Raleway",sans-serif;
}

.top-nav .title:hover{
  cursor:default;
}

.nav-item{
  font-size: 20px;
  font-family: "Raleway",sans-serif;
}

.coming-soon{
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coming-soon #child{
  margin: 30px;
}